
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{--accent:#0b5cff}

body{
  @apply bg-slate-50 text-slate-900 antialiased;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
.container{max-width:1100px;margin:0 auto;padding:2rem;}
.card{@apply bg-white shadow rounded-lg p-6;}
